{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %}Newsletter SignUP{% endblock %}

{% block content %}
<div class="container">
    <h3 class='text-center m-4'>Thanks for Subscribing to our Newsletter!!</h3>
    <p class="text-center">If the email address you've provide is correct, you should receive a notification soon...</p>
    <a href="{% url 'home' %}">
        <button type="button" class="cont-shop btn btn-sm btn-success text-white newsletter-return-home">
        <strong>Return to Home Page</strong>
        </button>    
    </a>
</div>
{% endblock %}