<footer class="align-center bg-light p-4 ">
    <div class="container">
        <!-- Social links -->
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="mb-2 ">
                    <a href="https://www.facebook.com/" target="_blank" class="soc-media-icons">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a href="https://twitter.com/explore" target="_blank" class="soc-media-icons">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="soc-media-icons">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a href="https://www.pinterest.co.uk/" target="_blank" class="soc-media-icons">
                        <i class="fab fa-pinterest fa-lg white-text fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center text-muted">© 2020 Ecommerce</div>
</footer>